<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form method="post">
      <label for="fname">First Name</label>
      <input id="fname" name="fname" type="text" />
      <label for="sname">Last Name</label>
      <input id="sname" name="sname" type="text" />
      <label for="snumber">Snumber</label>
      <input id="snumber" name="snumber" type="text" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
